<!--<div class="example-container">
    <div class="form-container">
      <form [formGroup]="loginForm" (submit)="submit()">
        <mat-form-field class="form-field" appearance="outline">
          <mat-label> E-mail
          </mat-label>
          <input matInput formControlName="email" required>
          <mat-error *ngIf="loginForm.controls.email.touched && loginForm.controls.email.invalid">
            <span *ngIf="loginForm.controls.email.errors.required">This field is mandatory.</span>
            <span *ngIf="loginForm.controls.email.errors.pattern">This field is invalid.</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label> Password
          </mat-label>
          <input matInput formControlName="password" type="password">
          <mat-error *ngIf="loginForm.controls.password.touched && loginForm.controls.password.invalid">
            <span *ngIf="loginForm.controls.password.errors.required">This field is mandatory.</span>
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Log In</button>
      </form>
    </div>
</div>-->

<div class="example-container">
    <mat-card>
        <h2>Criar Task</h2>
        <div appMarcaTexto corDeFundo='green'>teste</div>
        <form class="form-content" *ngIf="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="form-element">
            <mat-label>Titulo</mat-label>
            <input matInput placeholder="Digite o titulo" formControlName="titulo">
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-element">
            <mat-label>Descrição</mat-label>
            <input matInput placeholder="Digite a descrição" formControlName="descricao">
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-element">
            <mat-label>Data Entrega</mat-label>
            <input matInput placeholder="Digite seu e-mail" formControlName="data_entrega">
        </mat-form-field>
    
        <mat-form-field appearance="fill" class="form-element">
            <!--<mat-label>Prioridade</mat-label>
            <input type="password" matInput placeholder="Digite sua senha" formControlName="prioridade">-->
            <!--<mat-radio-group aria-label="Selecione uma opção" formControlName="prioridade">
                <mat-radio-button value="Low">Low</mat-radio-button>
                <mat-radio-button value="Medium">Medium</mat-radio-button>
                <mat-radio-button value="High">High</mat-radio-button>
            </mat-radio-group>-->
                <mat-label>Selecione a prioridade</mat-label>
                <mat-select formControlName="prioridade">
                  <mat-option value="LOW">LOW</mat-option>
                  <mat-option value="MEDIUM">MEDIUM</mat-option>
                  <mat-option value="HIGH">HIGH</mat-option>
                </mat-select>
        </mat-form-field>
    
        <!--<input type="submit">-->
        <button (click)="onSubmit()" mat-button color="primary">Criar</button>
        <button (click)="voltar()" mat-button color="primary">Voltar</button>
        </form>
    </mat-card>
</div>